In [1]:
import pandas as pd

In [2]:
import os

# Load Dataset

In [3]:
file=r'C:\Users\amanb\Downloads\netflix_titles.csv'
df=pd.read_csv(file)

# Preview Dataset structure

In [4]:
print("\n Dataset Info:")
df.info()
print("\n First 5 rows:")
print(df.head())

 Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

 First 5 rows:
  show_id     type                  title         director  \
0      s1    Movie   Dick Johnson Is Dead  Kirsten Johnson
1      s2  TV Show          Blood & Water              NaN
2      s3  TV Show              Ganglands  Julien Leclercq
3      s4  TV Show  Jailbirds New Orleans              NaN
4      s5  TV Show           Kota Factory              NaN

                                                cast        country  \
0                                                NaN  United States
1  Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...   South Africa
2  Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...            NaN
3                                                NaN            NaN
4  Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...          India

           date_added  release_year rating   duration  \
0  September 25, 2021          2020  PG-13     90 min
1  September 24, 2021          2021  TV-MA  2 Seasons
2  September 24, 2021          2021  TV-MA   1 Season
3  September 24, 2021          2021  TV-MA   1 Season
4  September 24, 2021          2021  TV-MA  2 Seasons

                                           listed_in  \
0                                      Documentaries
1    International TV Shows, TV Dramas, TV Mysteries
2  Crime TV Shows, International TV Shows, TV Act...
3                             Docuseries, Reality TV
4  International TV Shows, Romantic TV Shows, TV ...

                                         description
0  As her father nears the end of his life, filmm...
1  After crossing paths at a party, a Cape Town t...
2  To protect his family from a powerful drug lor...
3  Feuds, flirtations and toilet talk go down amo...
4  In a city of coaching centers known to train I...

# Check for Missing values

In [5]:
print("\n Missing Values in each column:")
print(df.isnull().sum())

 Missing Values in each column:
show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

# Handling Missing Values

In [6]:
if 'director' in df.columns:
    df['director']=df['director'].fillna('unknown')
if 'cast' in df.columns:
    df['cast']=df['cast'].fillna('un_identical')
if 'country' in df.columns:
    df['country']=df['country'].fillna('world')
if 'date_added' in df.columns:
    df= df.dropna(subset=['date_added'])
if 'rating' in df.columns:
    df['rating']=df['rating'].fillna('cool')

# Remove duplicates Rows

In [7]:
print(f"\n Duplicate Rows before Cleaning: {df.duplicated().sum()}")
df=df.drop_duplicates()
print(f"\n Duoplicate rows after Cleaning: {df.duplicated().sum()}")

 Duplicate Rows before Cleaning: 0

 Duoplicate rows after Cleaning: 0

# Standardize Text Columns (lowercase + trim space)

In [8]:
text_columns=['type','title','director','cast','country','rating']
for col in text_columns:
    if col in df.columns and df[col].dtype == 'object':
        df[col]=df[col].str.lower().str.strip()

# Rename columns to lowercase and use underscores

In [9]:
df.columns = df.columns.str.lower().str.strip().str.replace(' ','_')

# Convert Date Columns to Datetime format

In [10]:
if 'date_added' in df.columns:
    df['date_added'] = pd.to_datetime(df['date_added'],dayfirst=True, errors='coerce')

# Fix Data types

In [11]:
if 'release_year' in df.columns:
    df['release_year']=df['release_year'].astype(int)

# Save Cleaned Dataset in the same folder as Raw File

In [14]:
output_path = os.path.join(os.path.dirname(file), 'netflix_titles_cleaned.csv')
df.to_csv(output_path, index=False)
print(f"\n✅ Cleaned dataset saved as:\n{output_path}")

✅ Cleaned dataset saved as:
C:\Users\amanb\Downloads\netflix_titles_cleaned.csv

# Comparison Between Raw and Cleaned

In [17]:
raw = r'C:\Users\amanb\OneDrive\Documents\netflix_titles.csv'
cleaned = r'C:\Users\amanb\Downloads\netflix_titles_cleaned.csv'

# Load Datasets

In [34]:
df_raw = pd.read_csv(raw)
df_clean = pd.read_csv(cleaned)

# Comparison Summary

In [35]:
print("Raw     :", df_raw.shape)
print("Cleaned :", df_clean.shape)

Raw     : (8807, 12)
Cleaned : (8797, 12)

# Missing Values

In [36]:
print("\n MISSING VALUES:")
print("Raw:\n", df_raw.isnull().sum())
print("\nCleaned:\n", df_clean.isnull().sum())

 MISSING VALUES:
Raw:
 show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

Cleaned:
 show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        3
listed_in       0
description     0
dtype: int64

# Duplicates

In [37]:
print("\n DUPLICATES:")
print("Raw     :", df_raw.duplicated().sum())
print("Cleaned :", df_clean.duplicated().sum())

 DUPLICATES:
Raw     : 0
Cleaned : 0

# Column Names

In [38]:
print("\n COLUMN NAMES:")
print("Raw     :", list(df_raw.columns))
print("Cleaned :", list(df_clean.columns))

 COLUMN NAMES:
Raw     : ['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added', 'release_year', 'rating', 'duration', 'listed_in', 'description']
Cleaned : ['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added', 'release_year', 'rating', 'duration', 'listed_in', 'description']

# Data Type

In [39]:
print("\n 'date_added' TYPE:")
print("Raw     :", df_raw['date_added'].dtype)
print("Cleaned :", df_clean['date_added'].dtype)

 'date_added' TYPE:
Raw     : object
Cleaned : object

# Overall equality Check

In [40]:
equal = df_raw.sort_values(by='show_id').reset_index(drop=True).equals(
         df_clean.sort_values(by='show_id').reset_index(drop=True))
print("\n IDENTICAL DATASETS:", equal)

 IDENTICAL DATASETS: False